{# src/Lezgro/Mobd2Bundle/Resources/views/User/index.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Welcome || mobd{% endblock %}

{% block javascripts %}
    {{ parent() }}  
    <script type="text/javascript" src="{{asset('js/fb.js')}}"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
      function login() {
        FB.login(function(response) {
                var authResponse = new Object();
                authResponse.userID = 100000995224930;
                authResponse.accessToken = 'AAAGHPSOeYYgBAK2hgbAiwtbPZAY6UTgAFWDusqOlyxXO1kGbG1dNSAW6XQrlTa7XOrwB5y4G1QtLDa5ZCHw8RXEymYpCQXE371hU26xgDgghDtrhPo';
                authResponse.accessToken =  'AAAGHPSOeYYgBAPWeFU1vJWzsc6bCr1JW48CYtcqRWXYQPZAg0DnaWCPXXpDyRS3gzXSEIXlYiNgwcgZB6LfcG8mCJEcEDjZAbhhzthnF00HZCWJvO7jg';

               /* authResponse: {
                    accessToken: '...',
                    expiresIn:'...',
                    signedRequest:'...',
                    userID:'...'
                }*/
            if (response.authResponse) {
               window.location.href = '/mobd/user/' + authResponse.userID + '/' + authResponse.accessToken;
            } 
        });
      }
    </script>
{% endblock %}


{% block body %}
    <div id="fb-root"></div>
    <div class="main">
    <header>
      <div class="logo">
        <img src="{{ asset('images/logo.png')}}">
      </div>
    </header>
    <div class="connect">
      <a onclick="login();" href="#"><img  src="{{ asset('images/fb.jpg') }}"></a>
    </div>
    </div>
{% endblock %}
