{# src/Lezgro/MobdBundle/Resources/views/User/index.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Welcome || mobd{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <div class="main">
    <header>
      <div class="logo">
        <a href="{{ url('_auth') }}"><img src="{{ asset('images/logo.png')}}"></a>
      </div>
    </header>
    <div class="connect">
      <img src="{{ asset('images/fb.jpg')}}">
    </div>
    </div>
{% endblock %}
